/* body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */
.Paymentform{
    position: relative;
    background-color: #D7DBDD; 
    border-radius: 18px;
    padding: 20px;  
    box-shadow: 0 0 10px rgba(212, 181, 181, 0.1);
    width: 550px;
    height: 650px;
   
}
.Paymentforminner{
    position: absolute;
    left: 50px;
    bottom: 30px;
    padding: 10px;
    background-color:#D7DBDD ;
    box-shadow: 0 0 10px rgba(212, 181, 181, 0.1);
    border-radius: 18px;
    width: 470px;
    height: 400px;
}
.Paymentform h1{
    padding-left:150px;
    color:#1D24CA;
  
}
.Paymentforminner label{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.Paymentforminner input{
    width: 100%;
    height: 35px;
    margin-bottom: 18px;
}
.label2{
    display: block;

}
.btn{
    width: 50%;
    height: 12%;
    text-align: center;
    background-color: #00A9FF;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.div1{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
